<nav class="wrapper">
  <!-- <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>{{ this.isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
  </button> -->
  <h2 class="title">{{ title }}</h2>
</nav>
