<mat-card
  [ngClass]="[
    viewMode,
    isSelected ? 'selected' : '',
    isNewProduct ? 'new-product' : '',
    isDeleted ? 'deleted' : ''
  ]"
>
  <div class="card-wrapper">
    <div class="card-price">
      <div class="price-wrapper">
        <span class="price">
          <span class="price-value">{{ data.price }}</span>
          <mat-icon svgIcon="belly"></mat-icon>
        </span>
      </div>
    </div>

    <div class="card-content">
      <div class="card--header" mat-card-header-text>
        <div class="header">
          <h3 mat-card-title>{{ data.title }}</h3>
          <span class="subtitle" mat-card-subtitle>{{ data.category }}</span>
        </div>
      </div>

      <div class="employee" *ngIf="data.employee">
        <mat-icon>
          people_alt
        </mat-icon>
        <span class="employee-text">
          {{ data.employee }}
        </span>
      </div>

      <p class="description" *ngIf="data.description">
        {{ data.description }}
      </p>

      <div class="additional-info">
        <a class="review" [routerLink]="linkUrl" mat-button>
          <mat-icon>rate_review</mat-icon>
          <span class="review-text">{{ data.reviews?.length || 0 }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="option--wrapper">
    <button
      mat-icon-button
      [matMenuTriggerFor]="optionMenu"
      aria-label="opzioni prodotto"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionMenu="matMenu">
      <button mat-menu-item (click)="onDelete($event)">
        <mat-icon>delete</mat-icon>
        <span>Elimina</span>
      </button>

      <button mat-menu-item (click)="onMultipleSelect($event)">
        <mat-icon>check_circle</mat-icon>
        <span>Seleziona</span>
      </button>
    </mat-menu>
  </div>

  <div
    class="selected-element"
    *ngIf="isMultipleSelectActive"
    (click)="onMultiSelectToggle($event)"
    [ngClass]="{ selected: isMultiSelected }"
  >
    <mat-icon>check</mat-icon>
  </div>
</mat-card>
