@import "variables";
:host {
  margin: 0 0 8px;
  display: block;
  position: relative;
}

.list {
  &.mat-card {
    padding: 0 16px;
  }

  .card {
    &-content {
      padding: 16px 0;
    }

    &-price {
      border-left: 1px solid #eee;
      padding: 0 0 0 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 90px;

      &-wrapper {
        width: 100%;
        display: block;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &--header {
      .mat-card-title,
      .mat-card-subtitle {
        margin: 0;
      }

      .mat-card-title {
        margin: 0 8px 0 0;
      }
    }
  }
}

.grid {
  &.mat-card {
    margin: 0 4px;
    height: 100%;
  }

  .card {
    &-price {
      padding: 0 8px 16px;
    }
    &--header {
      .header {
        flex-direction: column-reverse;
        align-items: center;
      }
      .mat-card-title,
      .mat-card-subtitle {
        margin: 0;
        text-align: center;
      }

      .mat-card-title {
        line-height: 1.2em;
      }

      .mat-card-subtitle {
        margin: 0 0 8px;
      }
    }
  }

  .price {
    justify-content: center;
  }

  .description {
    text-align: center;
  }

  .additional-info {
    text-align: center;
  }
}

.card {
  &--header {
    margin: 0 0 16px;

    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

    .mat-card-title,
    .mat-card-subtitle {
      margin: 0;
    }

    .mat-card-title {
      font-size: 18px;
      font-weight: 500;
    }
    .mat-card-subtitle:not(:first-child) {
      margin: 0;
    }
  }
}

.description {
  margin: 0;
}

.employee {
  margin: 0 0 8px;
  display: flex;

  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin: 0 6px 0 0;
  }

  .text {
    vertical-align: top;
  }
}

.price {
  display: flex;
  &-value {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }
}

.additional-info {
  margin: 0 -16px;

  .review-text {
    padding: 0 0 0 5px;
  }
}
.mat-card {
  transition: background-color 0.8s ease-out;
  position: relative;
  overflow: hidden;
  &.selected {
    background: #eee;
  }
  &.new-product {
    background-color: red;
  }
}

.option--wrapper {
  top: 0;
  right: 0;
  position: absolute;
}

.selected-element {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $warn;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 0.4;
  }

  &.selected {
    opacity: 0.7;
  }

  .mat-icon {
    color: #fff;
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
}
