.grid {
  display: flex;
  margin: 0 -4px;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  ::ng-deep {
    app-product-card {
      min-width: 100%;
      @media screen and (min-width: 360px) {
        max-width: 50%;
        min-width: 50%;
      }

      @media screen and (min-width: 610px) {
        min-width: 33%;
      }

      @media screen and (min-width: 912px) {
        min-width: 20%;
      }
    }
  }
}

.list-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.add-button-wrapper {
  position: fixed;
  bottom: 16px;
  right: 16px;
  @media screen and (min-width: 1000px) {
    right: calc((100vw - 1000px) / 2 + 8px);
  }

  button + button {
    margin: 0 0 0 16px;
  }
}
