<div class="dashboard-wrapper">
  <app-header [storeData]="storeData"></app-header>

  <div class="list-wrapper" [ngClass]="viewMode">
    <app-product-card
      [data]="item.data"
      [id]="item.id"
      [viewMode]="viewMode"
      [isNewProduct]="item.id === newProductId"
      *ngFor="let item of productList"
    ></app-product-card>

    <div class="add-button-wrapper">
      <a
        [routerLink]="newUrl"
        mat-fab
        color="accent"
        *ngIf="!isMultiSelectActive"
      >
        <mat-icon>add</mat-icon>
      </a>
      <button
        mat-fab
        color="warn"
        *ngIf="isMultiSelectActive"
        matTooltip="Elimina tutti"
        (click)="deleteMultiple($event)"
        [disabled]="isEmpty"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <button
        mat-fab
        color="primary"
        *ngIf="isMultiSelectActive"
        [matTooltip]="isSelectAll ? 'Seleziona tutti' : 'Deseleziona tutti'"
        (click)="selectAll($event)"
      >
        <mat-icon>{{
          isSelectAll ? "check_circle" : "radio_button_unchecked"
        }}</mat-icon>
      </button>

      <button
        mat-fab
        color=""
        *ngIf="isMultiSelectActive"
        matTooltip="Chiudi selezione multipla"
        (click)="disableMultiple($event)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
