<div class="form--wrapper">
  <h2>Aggiungi Prodotto</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="newProductForm">
    <div class="input--wrapper">
      <div class="input--element">
        <mat-form-field>
          <mat-label>Nome Prodotto</mat-label>
          <input
            matInput
            placeholder="Biscotto"
            formControlName="title"
            cdk-focus-initial
          />
          <mat-error *ngIf="!newProductForm.get('title').valid">{{
            getError("title")
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="input--element">
        <mat-form-field class="full-width">
          <mat-label>Categoria</mat-label>
          <input
            type="text"
            placeholder="biscotti"
            matInput
            formControlName="category"
            [matAutocomplete]="categoriesEl"
          />
          <mat-autocomplete #categoriesEl="matAutocomplete">
            <mat-option *ngFor="let option of categories" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="!newProductForm.get('category').valid">{{
            getError("category")
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="input--element">
        <mat-form-field>
          <mat-label>Prezzo</mat-label>
          <input matInput placeholder="12.00" formControlName="price" />
          <mat-icon matSuffix svgIcon="belly"></mat-icon>
          <mat-error *ngIf="!newProductForm.get('price').valid">{{
            getError("price")
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="input--element">
        <mat-form-field class="full-width">
          <mat-label>Addetto</mat-label>
          <input
            type="text"
            placeholder="Giovanni"
            matInput
            formControlName="employee"
            [matAutocomplete]="employeeList"
          />
          <mat-autocomplete #employeeList="matAutocomplete">
            <mat-option *ngFor="let option of employees" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="!newProductForm.get('employee').valid">{{
            getError("employee")
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="input--element">
        <mat-form-field>
          <mat-label>Descrizione</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
          <mat-error *ngIf="!newProductForm.get('description').valid">{{
            getError("description")
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="button-wrapper">
      <button
        mat-raised-button
        type="submit"
        [disabled]="!newProductForm.valid"
        color="accent"
      >
        Aggiungi
      </button>
    </div>
  </form>
</div>
