.mat-form-field {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.input--element {
  margin: 0 0 6px;
  * {
    box-sizing: content-box;
  }
}

.form--wrapper {
  padding: 0 0 16px;
}
