/* You can add global styles to this file, and also import other style files */
@import "variables";
* {
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body,
app-root,
app-root > .wrapper {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eee;
}

app-root {
  display: block;
}

.wrapper {
  //max-width: 1200px;
}
