<div class="wrapper">
  <mat-sidenav-container
    [hasBackdrop]="hasBackdrop"
    (backdropClick)="backdropClose($event)"
  >
    <mat-sidenav [mode]="'side'" [opened]="isMenuOpen">
      menu
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row><app-menu></app-menu> </mat-toolbar-row>
      </mat-toolbar>

      <div class="mat-sidenav-content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
