.mat-sidenav {
  &,
  &-content,
  &-container {
    min-height: 100vh;
    display: block;
  }

  &-content-wrapper {
    padding: 8px;
    flex-grow: 1;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
  }
}
