<div class="review-wrapper">
  <ng-container *ngIf="data?.reviews?.length > 0; else noResults">
    <mat-list>
      <mat-list-item *ngFor="let item of data.reviews">{{
        item
      }}</mat-list-item>
    </mat-list>
  </ng-container>
  <ng-template #noResults>
    <em>non sono presenti recensioni</em>
  </ng-template>
</div>
