<div class="dialog--wrapper">
  <h1 mat-dialog-title>Elimina Prodotto</h1>
  <div mat-dialog-content>
    <p>Confermi l'eliminazione di:</p>
    <h3>{{ testo }}</h3>
  </div>
  <div mat-dialog-actions class="dialog_button--wrapper">
    <button mat-button [mat-dialog-close]="false">Annulla</button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="accent"
    >
      Conferma
    </button>
  </div>
</div>
