:host {
  ::ng-deep {
    .mat-card {
      display: block;
      margin: 0 0 16px;
      padding: 8px;

      &-header {
        max-width: 1000px;
        margin: 0 auto;

        &-text {
          display: none;
        }

        .mat-card-title,
        .mat-card-subtitle {
          margin-bottom: 0;
        }

        .mat-card-subtitle {
          &:not(:first-child) {
            margin-top: 0;
          }
        }
      }
      &-avatar {
        text-align: center;
        background: #eee;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-title {
        margin: 0 15px 0 0;

        &-group {
          display: flex;
          flex-wrap: wrap;
          margin: 0 0 6px;

          &-employee {
            margin: 0 0 0 10px;
          }
        }
      }
    }

    .store-info,
    .mat-card-header {
      display: flex;
      justify-content: space-between;
    }

    .employee {
      display: flex;

      .mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }

      .text {
        margin: 0 0 0 6px;
        vertical-align: top;
      }
    }

    .additional-data {
      padding: 0 0 0 8px;
    }
  }
}
