<mat-card *ngIf="storeData" class="heder-wrapper">
  <mat-card-header>
    <div class="store-info">
      <div mat-card-avatar>
        <mat-icon>{{ storeData.icon }}</mat-icon>
      </div>

      <div class="mat-card-title-group-employee">
        <div class="mat-card-title-group">
          <mat-card-title>{{ storeData.name }}</mat-card-title>

          <mat-card-subtitle>
            <span class="category">{{ storeData.category }}</span>
          </mat-card-subtitle>
        </div>

        <mat-card-subtitle>
          <span class="employee" [matTooltip]="storeData.employees.join(', ')">
            <mat-icon>
              people_alt
            </mat-icon>
            <span class="text">{{ storeData.employees.join(", ") }}</span>
          </span>
        </mat-card-subtitle>
      </div>
    </div>

    <div class="additional-data">
      <div class="visualization">
        <mat-button-toggle-group
          #viewModeGroup="matButtonToggleGroup"
          mat-button-toggle-group
          [value]="viewMode"
          (change)="viewModeChange(viewModeGroup.value)"
        >
          <mat-button-toggle value="list" aria-label="visualizzazione lista">
            <mat-icon>view_list</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle value="grid" aria-label="visualizzazione griglia">
            <mat-icon>view_module</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </mat-card-header>
</mat-card>
